<h3>
    <p>
        We have received a request to create an account.
        <br />
        Please enter the following activation code to activate your account:
        <span style="color: blue;"><b><%= activation_code %></b></span>
        <br/>
        This code will expire in <b><%= expire_in_hours %></b> hours.
        <br/>
        Alternatively you can click on the following link to activate your account:
        <span style="color: blue;"><b><%= activation_link %></b></span>
    </p>
</h3>