<h3>
    <p>
        We have received a request to reset your account's password.
        <br/>
        Enter the following password reset code to change your password:
        <span style="color: blue;"><b><%= verification_code %></b></span>
        <br/>
        This code will expire in <b><%= expire_in_minutes %></b> minutes.
    </p>
</h3>