/node_modules/*
/website-frontend/*
/.vscode/*

config/.env

helper/coordinateGrid.js

routes/public_routes.js

routes/auth_routes.js

controllers/csgo_controller.js

trash/*

aws/*

/config/passport.js

/db/models/csgo/*